# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.metadata
*Servers

streamrainfrontend/users-streamrainfrontend/.DS_Store
streamrainfrontend/users-streamrainfrontend/node_modules/
streamrainfrontend/users-streamrainfrontend/dist/
streamrainfrontend/users-streamrainfrontend/npm-debug.log
streamrainfrontend/users-streamrainfrontend/yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
